body {
  font-family: 'Lato', sans-serif;
  background-color: lightgrey;
}
h2, p, .readme-wrapper {
  text-align: center;
}
 a {
  text-decoration: none;
  color: blue;
  text-align: center;
}
a:hover {
  color: black;
  font-weight: bold;
}
a:visited {
  color: white;
  text-decoration: none;
}
span {
  color: royalblue;
  font-weight: 300;
}
.boxes {
  margin: 2px;
  padding: 2px;
  border: 2px solid rgb(187, 255, 0);
  border-radius: 10px;
  width: 30em;
  display: block;
}
#box1 {
  background-color: rgba(225, 0, 0, 1);
}
#box2 {
  background-color: rgba(225, 0, 0, 0.75);
  
}
#box3 {
  background-color: rgba(225, 0, 0, 0.50);
}
#box4 {
  background-color: rgba(225, 0, 0, 0.25);
}
.header-image {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: rgb(22, 66, 255);
  position: relative;
}
#circle1 {
  left: 90px;
  top: 50px;
}
#circle2 {
  left: 90px;
  top: 50px;
}
#circle3 {
  left: 90px;
  top: 50px;
}
#circle4 {
  top: 50px;
}